body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #e0e0e0;
}

#treatedTableBody thead tr {
    background-color: #388E3C;
    color: white;
}

#todayPatientTable thead tr {
    background-color: #f0ad4e;
    color: white;
}

#overduePatientTable thead tr {
    background-color: #F44336;
    color: white;
}

form {
    margin: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

#toggleOverdueBtn {
    color: #F44336;
    text-decoration: underline;
}

#overduePatientsSection {
    margin-top: 10px;
    display: none;
    transition: all 0.5s ease-in-out;
}

input {
    height: 40px;
    margin: 5px;
    font-size: 18px;
}

#addPatientForm button {
    background-color: #388E3C;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

#addPatientForm button:hover {
    background-color: #4CAF50;
}

#removePatientBtn {
    background-color: #F44336;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

#removePatientBtn:hover {
    background-color: #D32F2F;  
}

.download-btn {
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    display: inline-flex;
    align-items: flex-end;
    gap: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.download-btn:hover {
    background-color: #0056b3;
}

.download-btn span {
    font-size: 14px;
    color: #E0E0E0;
    margin-left: 5px;
    font-weight: normal;
  }